<div class="form-group">
  <label for="email">Email Address</label>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    <input type="email" class="form-control" id="email" placeholder="&#xf0e0; Email" />
  </div>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" class="form-control" id="password" placeholder="&#xf084; Password" />
</div>
<div class="caption">
  <button class="btn btn-primary signin">Sign in</button>
  <p class="signintext">Send me a sign in link to my inbox</p>
</div>